body 
{
background-color: #ffffff; 
color: #555555;
}

header
{
background-color: #002171; color: #ffffff;
}

nav
{
    background-color: #bbdefb;
}

h2
{
    color: #1976d2;
}

dt
{
     color: #002171;
}

.resort
{
    color: #1976d2;
}